<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>TaskUpdateServlet</servlet-name>
    <servlet-class>ru.job4j.todo.servlets.TaskUpdateServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>ShowAllTasksServlet</servlet-name>
    <servlet-class>ru.job4j.todo.servlets.ShowAllTasksServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>TaskSaveServlet</servlet-name>
    <servlet-class>ru.job4j.todo.servlets.TaskSaveServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>TaskUpdateServlet</servlet-name>
    <url-pattern>/update</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ShowAllTasksServlet</servlet-name>
    <url-pattern>/all_tasks</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>TaskSaveServlet</servlet-name>
    <url-pattern>/save</url-pattern>
  </servlet-mapping>

</web-app>
